*.mp4 filter=lfs diff=lfs merge=lfs -text
img/Documentos[[:space:]]para[[:space:]]o[[:space:]]site/Fotos[[:space:]]encontros[[:space:]]dos[[:space:]]Basso/Fotos[[:space:]]7º[[:space:]]encontro[[:space:]]e[[:space:]]Festa[[:space:]]do[[:space:]]Centenário/Video[[:space:]]do[[:space:]]ofertório[[:space:]]da[[:space:]]missa.mp4 filter=lfs diff=lfs merge=lfs -text
